<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
         point="org.eclipse.ui.commands">
         <command
            id="com.shenbao.menu.baiduSearchCommand"
            name="baidusearch">
    	  </command>
    	  <command
            id="com.shenbao.menu.stackoverflowSearchCommand"
            name="stackoverflowsearch">
    	  </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.shenbao.menu.baiduSearchCommand"
               icon="icons/baidu.jpg"
               label="百度搜索"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.shenbao.menu.stackoverflowSearchCommand"
               icon="icons/stackoverflow.jpg"
               label="stackoverflow搜索"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
	   <handler
            class="com.shenbao.search.handler.BaiduHandler"
            commandId="com.shenbao.menu.baiduSearchCommand">
      </handler>
      <handler
            class="com.shenbao.search.handler.StackoverflowHandler"
            commandId="com.shenbao.menu.stackoverflowSearchCommand">
      </handler>
   </extension>

</plugin>
